<div class="player-container">
  <div class="header-section">
    <h2 class="overview-title">OVERVIEW</h2>

    <div class="header-buttons">
      <a  [routerLink]="['/players', genre, player!.id, 'edit']"
      routerLinkActive="router-link-active"
      class='header-button'
      >
      <span>
        Edit Player 
      </span>
      <i class="material-icons">edit</i>

    </a>
    </div>
  </div>

  <div class="general-information">
    <div class="stats personal-information">
      <div class="picture-and-number">
        <div class="picture">
          <img
            [src]="player.player_face_url"
            alt="player-picture"
            class="player-img"
          />
        </div>
        <span
          class="player-overall"
          [ngStyle]="{'background-color': overallColor}"
        >
        {{ player!.overall }}
        </span>
      </div>
      <div class="data">
        <h2 class="player-name">{{ this.player.long_name }}</h2>
        <div class='version'>
          <span>20{{this.player.fifa_version}}</span>
        </div>

        <div class="data-items">
          <div class="data-item">
            <span>Position</span>
            <h5>{{ this.player.player_positions }}</h5>
          </div>
          <div class="data-item">
            <span>Nationality</span>
            <h5>{{ this.player.nationality_name }}</h5>
          </div>
          <div class="data-item">
            <span>Height</span>
            <h5>{{ this.player.height_cm }} cm</h5>
          </div>
          <div class="data-item">
            <span>Weight</span>
            <h5>{{ this.player.weight_kg }} kg</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="stats general-stats">
      <h4>GENERAL</h4>
      <app-radar-chart *ngIf="stats !== undefined" [data]="stats.generalStats"/>
    </div>
    <div class="stats attack-stats">
      <h4>ATTACK</h4>
      <app-radar-chart [data]="stats.attackStats"/>
    </div>
    <div class="stats defense-stats">
      <h4>DEFENSE</h4>
      <app-radar-chart [data]="stats.defenseStats"/>
    </div> 
  </div>
</div>
