<div class="players-container">
  <h1>{{ genre.toUpperCase() }} PLAYERS</h1>

  <app-players-filter [genre]="genre" />

  <div class='data-container' *ngIf="!isLoading">
    <ul>
      <ng-container *ngFor="let player of players; let i = index">
        <span *ngIf="i === 0 || player.fifa_version !== players[i - 1].fifa_version" class="fifa-version-title">
          20{{ player.fifa_version }}
        </span>
        
        <app-player-list-item [player]="player" [genre]="genre"></app-player-list-item>
      </ng-container>
    </ul>
    
    <span *ngIf="players.length === 0" style='text-align: center;'>No results :(</span>
    <button class="load-btn" type='button' *ngIf="hasMore" [disabled]="isLoading" (click)="loadMorePlayers()">Load More</button>
    <button class="download-btn" type='button' *ngIf="players.length > 0 && !isLoading" [disabled]="isLoading" (click)="downloadAllPlayers()">Download as csv file</button>
  </div>

  <div class='loader-container' *ngIf="isLoading">
    <div class='loader'></div>
  </div>
</div>
