<div class="navbar">
  <nav>
    <img src="assets/favicon.ico" alt="Logo" class="logo" />
    <ul>
      <!-- <li class="navbar-item">
        <div class="item-title">
          BEST PLAYERS
          <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class='player-list'>
          <div class='player-item'>LIONEL MESSI</div>
          <div class='player-item'>CRISTIANO RONALDO</div>
        </div>
      </li> -->
      <li class="navbar-item">
        <a routerLink="/players/male" routerLinkActive="router-link-active" >
          <div class="item-title">
            MALE PLAYERS
            <i class="material-icons">arrow_drop_down</i>
          </div>
        </a>
        
        <div class='player-list'>
          <div class='player-item'>LIONEL MESSI</div>
          <div class='player-item'>CRISTIANO RONALDO</div>
        </div>
      </li>
      <li class="navbar-item">
        <a routerLink="/players/female" routerLinkActive="router-link-active" >
          <div class="item-title">
            FEMALE PLAYERS
            <i class="material-icons">arrow_drop_down</i>
          </div>
        </a>

        <div class='player-list'>
          <div class='player-item'>LIONEL MESSI</div>
          <div class='player-item'>CRISTIANO RONALDO</div>
        </div>
      </li>
    </ul>

    <div class="search-div">
      <input type="text" class="search-pj-input" placeholder="Search" />
      <i class="material-icons search-icon">search</i>
    </div>
    <div class="login">
      <i class="material-icons">logout</i>
    </div>
  </nav>
</div>
