*{
  --light-gray: #eeeeee;
  --dark-gray: #7a7a7a;
  --black: #161629;
  transition: all .3s ease;

}
body{
  color: var(--black);
  background-color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

app-root{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
