*{
  --light-gray: #eeeeee;
  --dark-gray: #7a7a7a;
  --black: #161629;
  transition: all .3s ease;

}
body{
  color: var(--black);
  background: rgb(163,163,163);
  background: linear-gradient(0deg, rgba(163,163,163,1) 0%, rgba(236,236,236,1) 100%);
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-y: scroll;
}

app-root{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}